.kategory-active {
  background: #7126b5 !important;
  color: white !important;
  flex-direction: row;
  align-items: flex-start;
}

.kategory-deactive {
  background: #e2d4f0 !important;
  color: black !important;
}

.btn-kategory {
  padding: 14px 24px !important;
  border-radius: 10px;
  border: none;
}

.btn-kategory:hover {
  background-color: #7126b5;
  color: white;
  border: 1px solid #7126b5;
}

.scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
